*{
    margin: 0;
    padding: 0;
}

.left_flex_content {
    height: 403px;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 1920px;
}

#header{
    background-repeat:no-repeat;
    background-size: 120vw 403px;
    background-image: url("../img/Img_Bike.png");
    display: flex;
    flex-direction: column;
    color: #000;
    height: 700px;
}
nav{
    position: relative;
    align-self: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 20px;
}

.navigation_element{
    margin-left: 10px;
    margin-right: 10px;
}

.content{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
}

#header .content{
    margin-top: 0;
}


#company_logo{
    align-self:center;
    position: absolute;
    left: 0;
    top: 0;
}

#header .content p{
    width: 80%;
}

.left_flex_content, .right_flex_content{
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
    justify-self: center;
}

.left_flex_content{
    float: left;
}

.right_flex_content{
    margin-left: 10%;
}


.right_flex_content form{
    display: flex;
    flex-direction: column;
}

.right_flex_content p{
    text-align: center;
}

.right_flex_content input{
    margin-top: 15px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 5px;
    width: 250px;
    color: #000;
}

.btn{
    background-color: orange;
    border:none;
}


.info_wrapper{
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.bikes_pictures{
    display: flex;
    flex-direction: column;
}

.info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-items: center;
    height: max-content;
    max-height: max-content;
}

.bikes_pictures .info img{
    height: 308px;
}

.info h3{
    font-size: 25px;
    color: orange;
}

.info p{
    width: 70%;
    text-align: center;
    font-size: 18px;
    margin-top: 15px;
}

.info img{
    border: 2px solid transparent;
}

.info img:hover{
    border: 2px solid orange;
    border-radius: 15px;
}

#about_us h1{
    font-size: 27px;
}

#bike_video{
    margin-top: 10px;
    color: #fff;
}

#bike_video h1{
    margin-top: -100px;
    margin-bottom: 10px;
}

#bike_video img{
    margin-top: 50px;
    width: 270px;
}


.video_background{
    z-index: -5;
    position: absolute;
    height: 30%;
    width: 100%;
    background-color: orange;
}

footer{
    position: relative;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-self: center;
}

#bike_types{
    position: static;
    margin-bottom: 50px;
}

footer *{
    position: relative;
}

footer{
    margin-top: 50px;
}

#footer_email_info, #footer_phone_info{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    font-size: 13px;
}

#how_to_find_us h1, #how_to_find_us p{
    margin-top: 50px;
    font-size: 20px;
}

#how_to_find_us p{
    margin-bottom: 50px;
    font-size: 15px;
}