*{
    margin: 0;
    padding: 0;
    color: #fff;
}

.left_flex_content img{
    width: 100px;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 1920px;
}

#header{
    background-image: url("../img/Img_Bike.png");
    height: 829px;
    display: flex;
    flex-direction: column;
}
nav{
    position: relative;
    align-self: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navigation_element{
    margin-left: 10px;
    margin-right: 10px;
}

.content{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header .content{
    flex-direction: row;
    margin-top: 15%;
}

#header .content p{
    width: 80%;
}

.left_flex_content, .right_flex_content{
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
    justify-self: center;
}

.left_flex_content{
    float: left;
}

.right_flex_content{
    margin-left: 10%;
}


.right_flex_content form{
    display: flex;
    flex-direction: column;
}

.info_wrapper{
    align-self: center;
    display: flex;
    flex-direction: row;
}

.bikes_pictures{
    display: flex;
    flex-direction: row;
}

.info{
    margin-left: 20px;
    margin-right: 20px;
}

footer{
    position: relative;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-self: center;
}

footer *{
    position: relative;
}