*{
    margin: 0;
    padding: 0;
}

.left_flex_content img{
    width: 100px;
}

body{
    display: flex;
    flex-direction: column;
    max-width: 1920px;
}

#header{
    background-repeat:no-repeat;
    background-size: 100vw;
    background-image: url("../img/Img_Bike.png");
    height: 829px;
    display: flex;
    flex-direction: column;
    color: #fff;
}
nav{
    position: relative;
    align-self: center;
}

nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.navigation_element{
    margin-left: 10px;
    margin-right: 10px;
}

.content{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header .content{
    flex-direction: row;
    margin-top: 15%;
}

#header .content p{
    width: 80%;
}

.left_flex_content, .right_flex_content{
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
    justify-self: center;
}

.left_flex_content{
    float: left;
}

.right_flex_content{
    margin-left: 10%;
}


.right_flex_content form{
    display: flex;
    flex-direction: column;
}

.right_flex_content p{
    text-align: center;
}

.right_flex_content input{
    margin-top: 15px;
    height: 50px;
    border-radius: 15px;
    width: 320px;
    border-style: none;
    color: #000;
}

.btn{
    background-color: orange;
}


.info_wrapper{
    align-self: center;
    display: flex;
    flex-direction: row;
}

.bikes_pictures{
    display: flex;
    flex-direction: row;
}

.info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-items: center;
}
.info p{
    width: 70%;
    text-align: center;
}

footer{
    position: relative;
    justify-items: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    align-self: center;
}

footer *{
    position: relative;
}